# Overview of Client_Data_to_DB Pipleine.

## Extract and stage raw

In [ ]:
import pandas as pd
import re
pd.set_option('display.max_columns', None)

In [ ]:
file_path = "data/data.xlsx"
sheet_names = pd.ExcelFile(file_path).sheet_names
raw_data = pd.read_excel(file_path, sheet_name=0)       # First sheet by index
raw_data

,Owner First,Customer Number,Last Mane,Number,Street Name,Unit,City,Postal Code,Province,Owner Phone,Alternate Phone,Pet Species,Last Renewal date,Pet Name,Pet Breed,Pet Colour,Pet Sex,Pet is fixed,Tag #,Owner Email,Expiry year,Sold By,Tag Status,Rabies Expiry,Pet Status
0,Malik,5105.0,Gray,153,Brampton Street,2018-01-05 00:00:00,a,B2H 1P2,CA,806-3576,NaN,CAT,2010-09-26,Cameran,Mix,Tri,D,Y,6348.0,123-456-7890,2016-02-02,Martin,NaN,10.13.99,Active
1,Eaton,6111.0,Bridges,102,Real St,2018-01-05 00:00:00,CITY B,M2Z 7G6,ONTARIO,(609) 113-1053,NaN,Dog,1996-12-14,Dale,Mix,Purple,F,N,1554.0,a.ultricies@antelectusconvallis.org,2001-08-06,Cheryl,NaN,09.28.14,A
2,Eaton,6111.0,Bridges,102,Real St,2018-01-06 00:00:00,CITY B,M2Z 7G7,ONTARIO,(609) 113-1054,NaN,Dog,1996-12-15,Dale,Mix,Purple,M,N,1554.0,a.ultricies@antelectusconvallis.org,2011-09-16,Raja,NaN,05.29.98,A
3,Zelenia,5032.0,Mooney,26,Brampton Street,NaN,CITY A,N2J 5K0,NaN,(422) 222-7087,NaN,CAT,1987-03-02,Jemima,Terrier,NaN,Spayed,Neutered,9148.0,a@orci.edu and a@sheely.net,2009-08-03,Edward,NaN,02.04.95,A
4,Noelani,2777.0,Hensley,155,Brampton Street,NaN,city,T8M 9X6,ONTARIO,(629) 506-8699,NaN,D,2002-11-25,Adrian,Spaniel,Cream,Dog,Y,8928.0,aliquam.adipiscing.lacus@luctussitamet.edu,2007-04-26,Owen,NaN,10.04.97,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Leslie,8741.0,Ramos,99,Brampton Street,NaN,city,E0A 9K5,NB,1-858-319-8706,NaN,d,2003-02-26,Tyler,German Shepherd,Cat,Female,N,5446.0,vulputate@ipsumPhasellusvitae.co.uk,2005-11-01,Darius,Yes,12.03.00,S
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79506,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
198,Alexis,3061.0,Hudson,30,Fance Place,B,CITY B,B4X 8R1,QC,1-823-849-7929,NaN,no,1997-07-04,"Winter ""tazer face""",Terrier,Orange,F,Y,4023.0,NaN,2013-02-01,Burke,NaN,07.29.13,Removed
199,Wayne,4403.0,Martin,190,Real St,NaN,a,B6J 9M9,NB,(134) 956-9256,(908) 149-9000,Dog,2006-01-28,Virginia,Maltese,NaN,M,Intact,2104.0,NaN,2002-09-22,Kieran,NaN,06.01.10,Removed
200,Roth,7302.0,Cooke,164,Brampton Street,D,a,Y2P 2S2,ONTARIO,(984) 330-8274,1-993-615-9432,DOG,1986-01-31,Garrett,Yorkie,Tan,Mal,Intact,2020.0,NaN,2010-11-22,Stella,NaN,05.29.03,a

In [ ]:
raw_data.count()

Owner First          200
Customer Number      200
Last Mane            200
Number               200
Street Name          198
Unit                  69
City                 200
Postal Code          200
Province             100
Owner Phone          200
Alternate Phone      120
Pet Species          197
Last Renewal date    200
Pet Name             200
Pet Breed            200
Pet Colour           179
Pet Sex              194
Pet is fixed         195
Tag #                200
Owner Email          197
Expiry year          200
Sold By              200
Tag Status            22
Rabies Expiry        200
Pet Status           198
dtype: int64

In [ ]:
raw_data.nunique()

Owner First          173
Customer Number      183
Last Mane            160
Number               119
Street Name            3
Unit                   8
City                  13
Postal Code          199
Province               6
Owner Phone          193
Alternate Phone      116
Pet Species           13
Last Renewal date    199
Pet Name             184
Pet Breed             18
Pet Colour            14
Pet Sex               15
Pet is fixed          11
Tag #                199
Owner Email          189
Expiry year          197
Sold By              177
Tag Status             7
Rabies Expiry        198
Pet Status             9
dtype: int64

In [ ]:
raw_data.dtypes

Owner First                  object
Customer Number             float64
Last Mane                    object
Number                       object
Street Name                  object
Unit                         object
City                         object
Postal Code                  object
Province                     object
Owner Phone                  object
Alternate Phone              object
Pet Species                  object
Last Renewal date    datetime64[ns]
Pet Name                     object
Pet Breed                    object
Pet Colour                   object
Pet Sex                      object
Pet is fixed                 object
Tag #                       float64
Owner Email                  object
Expiry year          datetime64[ns]
Sold By                      object
Tag Status                   object
Rabies Expiry                object
Pet Status                   object
dtype: object

## Transform

### functions are run as tasks in an Airflow DAG

### clean_columns()

In [ ]:
def clean_columns(df):
    # df = pd.read_csv(RAW_DATA_PATH)
    df.columns = df.columns.str.replace(' ', '_').str.rstrip('_').str.lower()
    df.rename(columns={
        'last_mane': 'last_name',
        'owner_first': 'first_name',
        'expiry_year': 'license_expiry',
        'number': 'street_number',
        'city': 'raw_city',
        'province': 'raw_province',
        'owner_phone': 'raw_owner_phone',
        'tag_#': 'tag_number',
        'pet_species': 'raw_pet_species'
    }, inplace=True)
    # df.to_csv(CLEAN_COLUMNS_PATH, index=False)
    return df

##OUTPUT
clean_columns = clean_columns(raw_data)
clean_columns

,first_name,customer_number,last_name,street_number,street_name,unit,raw_city,postal_code,raw_province,raw_owner_phone,alternate_phone,raw_pet_species,last_renewal_date,pet_name,pet_breed,pet_colour,pet_sex,pet_is_fixed,tag_number,owner_email,license_expiry,sold_by,tag_status,rabies_expiry,pet_status
0,Malik,5105.0,Gray,153,Brampton Street,2018-01-05 00:00:00,a,B2H 1P2,CA,806-3576,NaN,CAT,2010-09-26,Cameran,Mix,Tri,D,Y,6348.0,123-456-7890,2016-02-02,Martin,NaN,10.13.99,Active
1,Eaton,6111.0,Bridges,102,Real St,2018-01-05 00:00:00,CITY B,M2Z 7G6,ONTARIO,(609) 113-1053,NaN,Dog,1996-12-14,Dale,Mix,Purple,F,N,1554.0,a.ultricies@antelectusconvallis.org,2001-08-06,Cheryl,NaN,09.28.14,A
2,Eaton,6111.0,Bridges,102,Real St,2018-01-06 00:00:00,CITY B,M2Z 7G7,ONTARIO,(609) 113-1054,NaN,Dog,1996-12-15,Dale,Mix,Purple,M,N,1554.0,a.ultricies@antelectusconvallis.org,2011-09-16,Raja,NaN,05.29.98,A
3,Zelenia,5032.0,Mooney,26,Brampton Street,NaN,CITY A,N2J 5K0,NaN,(422) 222-7087,NaN,CAT,1987-03-02,Jemima,Terrier,NaN,Spayed,Neutered,9148.0,a@orci.edu and a@sheely.net,2009-08-03,Edward,NaN,02.04.95,A
4,Noelani,2777.0,Hensley,155,Brampton Street,NaN,city,T8M 9X6,ONTARIO,(629) 506-8699,NaN,D,2002-11-25,Adrian,Spaniel,Cream,Dog,Y,8928.0,aliquam.adipiscing.lacus@luctussitamet.edu,2007-04-26,Owen,NaN,10.04.97,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Leslie,8741.0,Ramos,99,Brampton Street,NaN,city,E0A 9K5,NB,1-858-319-8706,NaN,d,2003-02-26,Tyler,German Shepherd,Cat,Female,N,5446.0,vulputate@ipsumPhasellusvitae.co.uk,2005-11-01,Darius,Yes,12.03.00,S
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79506,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
198,Alexis,3061.0,Hudson,30,Fance Place,B,CITY B,B4X 8R1,QC,1-823-849-7929,NaN,no,1997-07-04,"Winter ""tazer face""",Terrier,Orange,F,Y,4023.0,NaN,2013-02-01,Burke,NaN,07.29.13,Removed
199,Wayne,4403.0,Martin,190,Real St,NaN,a,B6J 9M9,NB,(134) 956-9256,(908) 149-9000,Dog,2006-01-28,Virginia,Maltese,NaN,M,Intact,2104.0,NaN,2002-09-22,Kieran,NaN,06.01.10,Removed
200,Roth,7302.0,Cooke,164,Brampton Street,D,a,Y2P 2S2,ONTARIO,(984) 330-8274,1-993-615-9432,DOG,1986-01-31,Garrett,Yorkie,Tan,Mal,Intact,2020.0,NaN,2010-11-22,Stella,NaN,05.29.03,a

### convert_column_types()

In [9]:
def convert_column_types(df):
    # df = pd.read_csv(CLEAN_COLUMNS_PATH)
    for col in df.columns:
        if df[col].dtype.name not in ['datetime64[ns]', 'object']:
            df[col] = df[col].astype('Int64')
    for col in df.columns:
        if df[col].dtype.name not in ['datetime64[ns]', 'string', 'Int64']:
            df[col] = df[col].astype('string')
    # df.to_csv(TYPED_DATA_PATH, index=False)
    return df

##OUTPUT
convert_columns = convert_column_types(clean_columns)
convert_columns.dtypes

first_name           string[python]
customer_number               Int64
last_name            string[python]
street_number        string[python]
street_name          string[python]
unit                 string[python]
raw_city             string[python]
postal_code          string[python]
raw_province         string[python]
raw_owner_phone      string[python]
alternate_phone      string[python]
raw_pet_species      string[python]
last_renewal_date    datetime64[ns]
pet_name             string[python]
pet_breed            string[python]
pet_colour           string[python]
pet_sex              string[python]
pet_is_fixed         string[python]
tag_number                    Int64
owner_email          string[python]
license_expiry       datetime64[ns]
sold_by              string[python]
tag_status           string[python]
rabies_expiry        string[python]
pet_status           string[python]
dtype: object

### categorize_city_column():

In [10]:
def categorize_city(value):
    val = str(value).strip().lower()

    if any(keyword in val for keyword in ['a', 'city a', 'sity a']):
        return 'City A'
    elif any(keyword in val for keyword in ['b', 'city b', 'cit b']):
        return 'City B'
    else:
        return 'Unknown'

##OUTPUT
convert_columns['city'] = convert_columns['raw_city'].apply(categorize_city)
convert_columns[['raw_city', 'city']]

    raw_city     city
0          a   City A
1     CITY B   City B
2     CITY B   City B
3     CITY A   City A
4       city  Unknown
..       ...      ...
196     city  Unknown
197     <NA>   City A
198   CITY B   City B
199        a   City A
200        a   City A

[201 rows x 2 columns]

### categorize_province():

In [11]:
def categorize_province(value):
    province_map = {
        'ab': 'AB', 'alberta': 'AB',
        'bc': 'BC', 'british columbia': 'BC',
        'mb': 'MB', 'manitoba': 'MB',
        'nb': 'NB', 'new brunswick': 'NB',
        'nl': 'NL', 'newfoundland and labrador': 'NL',
        'ns': 'NS', 'nova scotia': 'NS',
        'nt': 'NT', 'northwest territories': 'NT',
        'nu': 'NU', 'nunavut': 'NU',
        'on': 'ON', 'ontario': 'ON',
        'pe': 'PE', 'prince edward island': 'PE',
        'qc': 'QC', 'quebec': 'QC',
        'sk': 'SK', 'saskatchewan': 'SK',
        'yt': 'YT', 'yukon': 'YT'
    }
    
    if not isinstance(value, str):
        return None

    val = value.strip().lower()
    if val in ['', 'ca']:
        return None

    return province_map.get(val, None)

##OUTPUT
convert_columns['province'] = convert_columns['raw_province'].apply(categorize_province)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(convert_columns[['raw_province', 'province']])

    raw_province province
0             CA     None
1        ONTARIO       ON
2        ONTARIO       ON
3           <NA>     None
4        ONTARIO       ON
5           <NA>     None
6           <NA>     None
7             NB       NB
8           <NA>     None
9           <NA>     None
10       Ontario       ON
11          <NA>     None
12          <NA>     None
13            QC       QC
14            QC       QC
15          <NA>     None
16            NB       NB
17          <NA>     None
18          <NA>     None
19          <NA>     None
20            QC       QC
21       Ontario       ON
22            QC       QC
23            CA     None
24            ON       ON
25            ON       ON
26            CA     None
27       Ontario       ON
28       Ontario       ON
29          <NA>     None
30            CA     None
31       Ontario       ON
32            ON       ON
33            ON       ON
34          <NA>     None
35          <NA>     None
36            QC       QC
37          <NA>     None
38            NB       NB
39            NB       NB
40          <NA>     None
41          <NA>     None
42            CA     None
43            CA     None
44          <NA>     None
45          <NA>     None
46          <NA>     None
47          <NA>     None
48          <NA>     None
49          <NA>     None
50          <NA>     None
51            ON       ON
52            ON       ON
53          <NA>     None
54          <NA>     None
55          <NA>     None
56          <NA>     None
57          <NA>     None
58          <NA>     None
59          <NA>     None
60          <NA>     None
61            QC       QC
62            CA     None
63       Ontario       ON
64          <NA>     None
65          <NA>     None
66          <NA>     None
67            CA     None
68          <NA>     None
69          <NA>     None
70       ONTARIO       ON
71       ONTARIO       ON
72          <NA>     None
73            NB       NB
74       ONTARIO       ON
75       ONTARIO       ON
76       Ontario       ON
77          <NA>     None
78            ON       ON
79            CA     None
80          <NA>     None
81       ONTARIO       ON
82       Ontario       ON
83          <NA>     None
84            CA     None
85            NB       NB
86          <NA>     None
87          <NA>     None
88       Ontario       ON
89       Ontario       ON
90          <NA>     None
91       Ontario       ON
92          <NA>     None
93          <NA>     None
94       Ontario       ON
95          <NA>     None
96            CA     None
97            NB       NB
98          <NA>     None
99          <NA>     None
100      ONTARIO       ON
101         <NA>     None
102         <NA>     None
103           ON       ON
104      Ontario       ON
105           NB       NB
106      ONTARIO       ON
107      ONTARIO       ON
108      ONTARIO       ON
109           NB       NB
110         <NA>     None
111         <NA>     None
112         <NA>     None
113           QC       QC
114         <NA>     None
115      Ontario       ON
116         <NA>     None
117         <NA>     None
118         <NA>     None
119           CA     None
120         <NA>     None
121           ON       ON
122         <NA>     None
123      Ontario       ON
124      Ontario       ON
125         <NA>     None
126         <NA>     None
127         <NA>     None
128           ON       ON
129           NB       NB
130         <NA>     None
131         <NA>     None
132      ONTARIO       ON
133         <NA>     None
134           ON       ON
135           NB       NB
136         <NA>     None
137         <NA>     None
138         <NA>     None
139         <NA>     None
140         <NA>     None
141         <NA>     None
142         <NA>     None
143         <NA>     None
144         <NA>     None
145      ONTARIO       ON
146         <NA>     None
147           ON       ON
148      ONTARIO       ON
149         <NA>     None
150           QC       QC
151           NB       NB
152           ON       ON
153      ONTARIO       ON
154         <NA>     None
155           ON       ON
156           NB       NB
157      ONTARIO       ON
158           CA     None
159         <NA>     None
160         <NA>     None
161         <NA>     None
162         <NA>     None
163           ON       ON
164         <NA>     None
165         <NA>     None
166      ONTARIO       ON
167         <NA>     None
168           NB       NB
169           QC       QC
170         <NA>     None
171         <NA>     None
172           QC       QC
173           CA     None
174         <NA>     None
175           ON       ON
176      Ontario       ON
177         <NA>     None
178      Ontario       ON
179         <NA>     None
180           NB       NB
181         <NA>     None
182           CA     None
183         <NA>     None
184         <NA>     None
185           CA     None
186         <NA>     None
187           QC       QC
188         <NA>     None
189         <NA>     None
190         <NA>     None
191         <NA>     None
192         <NA>     None
193      ONTARIO       ON
194      ONTARIO       ON
195         <NA>     None
196           NB       NB
197         <NA>     None
198           QC       QC
199           NB       NB
200      ONTARIO       ON

### standardize_phone():

In [12]:
def standardize_phone(value):
    digits = re.sub(r'\D', '', str(value))

    if digits.startswith('1') and len(digits) == 11:
        digits = digits[1:]

    if len(digits) == 10:
        return f"{digits[0:3]}-{digits[3:6]}-{digits[6:10]}"
    
    return None

##OUTPUT
convert_columns['owner_phone'] = convert_columns['raw_owner_phone'].apply(standardize_phone)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(convert_columns[['raw_owner_phone', 'owner_phone']])

                           raw_owner_phone   owner_phone
0                                 806-3576          None
1                           (609) 113-1053  609-113-1053
2                           (609) 113-1054  609-113-1054
3                           (422) 222-7087  422-222-7087
4                           (629) 506-8699  629-506-8699
5                           (647) 929-9805  647-929-9805
6                           (647) 929-9804  647-929-9804
7                           (849) 198-7594  849-198-7594
8                           (765) 660-9424  765-660-9424
9                           (570) 929-0427  570-929-0427
10                          (922) 530-5251  922-530-5251
11                          (117) 560-0334  117-560-0334
12                                472-0843          None
13                          1-198-831-3498  198-831-3498
14                                148-8978          None
15                                641-3007          None
16                          1-973-440-3445  973-440-3445
17                                175-2930          None
18                          1-141-885-8041  141-885-8041
19                          1-417-269-4743  417-269-4743
20                                593-9553          None
21                                164-6312          None
22                                189-8492          None
23                          1-578-366-8990  578-366-8990
24                                525-8217          None
25                                525-8218          None
26                          1-233-301-2758  233-301-2758
27                                164-6312          None
28                                164-6312          None
29                          1-858-347-2497  858-347-2497
30                          (757) 181-2313  757-181-2313
31                                218-3024          None
32                          1-705-185-3744  705-185-3744
33                          1-317-553-0572  317-553-0572
34                                920-3030          None
35   (626) 237-5632 sometimes 123-456-7890          None
36                                563-4169          None
37                          (128) 314-0737  128-314-0737
38                          (587) 352-2859  587-352-2859
39                          (304) 777-3551  304-777-3551
40                          1-519-612-5421  519-612-5421
41                                222-9809          None
42                                961-5315          None
43                          1-241-111-0917  241-111-0917
44                          (453) 275-7523  453-275-7523
45                          (184) 238-7035  184-238-7035
46                                843-7177          None
47                          1-352-821-0565  352-821-0565
48                          (430) 514-9128  430-514-9128
49                                793-9115          None
50                          1-177-597-8702  177-597-8702
51                          (517) 711-0047  517-711-0047
52                                251-1722          None
53                                212-0268          None
54                          1-462-277-7921  462-277-7921
55                                366-4013          None
56                          (211) 142-0623  211-142-0623
57                          (869) 439-6770  869-439-6770
58                          (598) 765-2194  598-765-2194
59                         (598) "765-2195  598-765-2195
60                          (598) 765-2196  598-765-2196
61                          1-328-864-0577  328-864-0577
62                                768-2827          None
63                          1-914-773-9453  914-773-9453
64                          (254) 606-4239  254-606-4239
65                          (214) 831-4434  214-831-4434
66                          (843) 437-4966  843-437-4966
67                          1-784-442-4514  784-442-4514
68                          1-473-470-9272  473-470-9272
69                                546-8543          None
70                          1-927-740-5884  927-740-5884
71                          (984) 330-8275  984-330-8275
72                                673-7848          None
73                          (685) 491-2138  685-491-2138
74                                498-2068          None
75                          (576) 831-2090  576-831-2090
76                          (731) 458-7391  731-458-7391
77                          1-446-186-2666  446-186-2666
78                          (205) 418-5010  205-418-5010
79                                213-3181          None
80                          1-797-720-3203  797-720-3203
81                          1-962-307-7964  962-307-7964
82                          1-537-495-2779  537-495-2779
83                          (284) 492-1513  284-492-1513
84                                264-7783          None
85                                936-9041          None
86                          1-883-136-3158  883-136-3158
87                          (913) 865-6015  913-865-6015
88                          (730) 193-6848  730-193-6848
89                          (592) 166-9686  592-166-9686
90                                472-2993          None
91                          1-447-883-1477  447-883-1477
92                          (815) 814-2916  815-814-2916
93                                759-4998          None
94                                134-9034          None
95                          (167) 165-4766  167-165-4766
96                          (249) 932-2233  249-932-2233
97                          (430) 732-0501  430-732-0501
98                          (907) 729-2772  907-729-2772
99                          1-979-182-6734  979-182-6734
100                               879-8779          None
101                         1-931-476-6401  931-476-6401
102                         (573) 722-4881  573-722-4881
103                         1-727-120-1288  727-120-1288
104                               164-6312          None
105                               392-3801          None
106                         1-662-141-5831  662-141-5831
107                         (984) 330-8272  984-330-8272
108                         (984) 330-8273  984-330-8273
109                         1-339-337-8116  339-337-8116
110                         (183) 240-9264  183-240-9264
111                               861-4860          None
112                         1-448-437-4140  448-437-4140
113                         1-757-969-2270  757-969-2270
114                         (894) 894-3130  894-894-3130
115                         (213) 188-5826  213-188-5826
116                               250-5821          None
117                         (114) 382-9599  114-382-9599
118                               898-9049          None
119                               155-0688          None
120                         (329) 809-8785  329-809-8785
121                         1-477-689-9333  477-689-9333
122                         1-968-555-9667  968-555-9667
123                         (572) 135-8520  572-135-8520
124                               771-5810          None
125                         1-910-464-6563  910-464-6563
126                         1-512-344-4421  512-344-4421
127                         (550) 579-8109  550-579-8109
128                         (517) 711-0047  517-711-0047
129                         1-187-856-5474  187-856-5474
130                               502-3289          None
131                         1-164-632-6708  164-632-6708
132                               220-5561          None
133                         1-132-348-2457  132-348-2457
134                         1-483-697-9383  483-697-9383
135                         1-765-207-5926  765-207-5926
136                         1-597-179-6334  597-179-6334
137                               819-8807          None
138                               819-8808          None
139                         1-816-805-6336  816-805-6336
140                         1-327-449-1081  327-449-1081
141                         (875) 197-9235  875-197-9235
142                         (647) 929-9805  647-929-9805
143                               481-5273          None
144                               966-4254          None
145                               538-2609          None
146                         1-858-811-4523  858-811-4523
147                         1-331-201-5698  331-201-5698
148                         1-808-776-2445  808-776-2445
149                         (626) 353-6808  626-353-6808
150                               408-0955          None
151                         (865) 754-2715  865-754-2715
152                         1-494-313-7445  494-313-7445
153                         (899) 704-7712  899-704-7712
154                                    Yes          None
155                               525-8218          None
156                               496-2180          None
157                               607-9256          None
158                         (624) 620-7334  624-620-7334
159                               413-5487          None
160                         1-458-536-4050  458-536-4050
161                         (798) 664-9913  798-664-9913
162                         (580) 573-0252  580-573-0252
163                         1-430-927-3971  430-927-3971
164                         1-635-952-0455  635-952-0455
165                         1-355-420-8636  355-420-8636
166                               430-7440          None
167                               340-3790          None
168                         (285) 623-1828  285-623-1828
169                         (362) 370-4359  362-370-4359
170                         1-512-310-9943  512-310-9943
171                         (474) 513-8318  474-513-8318
172                               215-5401          None
173                               968-5146          None
174                               168-3191          None
175                               525-8218          None
176                         (153) 623-1929  153-623-1929
177                         (862) 934-4556  862-934-4556
178                               615-5821          None
179                               604-6024          None
180                         1-378-792-9331  378-792-9331
181                         1-121-870-1476  121-870-1476
182                               529-9087          None
183                               647-3250          None
184                               416-9120          None
185                         (568) 725-0522  568-725-0522
186                         1-105-698-0091  105-698-0091
187                         1-939-808-4397  939-808-4397
188                               599-8722          None
189                         (224) 243-5099  224-243-5099
190                         1-471-738-3995  471-738-3995
191                         1-827-981-6010  827-981-6010
192                               518-0357          None
193                         1-646-951-4967  646-951-4967
194                         1-650-391-2595  650-391-2595
195                         (932) 903-1383  932-903-1383
196                         1-858-319-8706  858-319-8706
197                                   <NA>          None
198                         1-823-849-7929  823-849-7929
199                         (134) 956-9256  134-956-9256
200                         (984) 330-8274  984-330-8274

### infer_province_from_phone():

In [13]:
def infer_missing_province(row):
    area_code_to_province = {
        '204': 'MB', '431': 'MB',
        '236': 'BC', '250': 'BC', '604': 'BC', '672': 'BC',
        '403': 'AB', '587': 'AB', '780': 'AB', '825': 'AB',
        '306': 'SK', '639': 'SK',
        '416': 'ON', '437': 'ON', '647': 'ON', '905': 'ON',
        '289': 'ON', '519': 'ON', '226': 'ON', '613': 'ON', '343': 'ON',
        '514': 'QC', '438': 'QC', '418': 'QC', '581': 'QC',
        '819': 'QC', '873': 'QC',
        '506': 'NB',
        '709': 'NL',
        '902': 'NS', '782': 'NS',
        '867': 'NT'
    }

    current = str(row['province']).strip().lower()
    if current not in ['', 'none', 'nan', 'ca']:
        return current.upper()

    phone = row['owner_phone']
    digits = re.sub(r'\D', '', str(phone))
    if digits.startswith('1') and len(digits) == 11:
        digits = digits[1:]

    if not digits or len(digits) < 3:
        return None

    area_code = digits[:3]
    return area_code_to_province.get(area_code, "Add area code to dict")

##OUTPUT
convert_columns['inferred_province'] = convert_columns.apply(infer_missing_province, axis=1)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(convert_columns[['raw_province', 'province', 'owner_phone', 'inferred_province']])

    raw_province province   owner_phone      inferred_province
0             CA     None          None                   None
1        ONTARIO       ON  609-113-1053                     ON
2        ONTARIO       ON  609-113-1054                     ON
3           <NA>     None  422-222-7087  Add area code to dict
4        ONTARIO       ON  629-506-8699                     ON
5           <NA>     None  647-929-9805                     ON
6           <NA>     None  647-929-9804                     ON
7             NB       NB  849-198-7594                     NB
8           <NA>     None  765-660-9424  Add area code to dict
9           <NA>     None  570-929-0427  Add area code to dict
10       Ontario       ON  922-530-5251                     ON
11          <NA>     None  117-560-0334  Add area code to dict
12          <NA>     None          None                   None
13            QC       QC  198-831-3498                     QC
14            QC       QC          None                     QC
15          <NA>     None          None                   None
16            NB       NB  973-440-3445                     NB
17          <NA>     None          None                   None
18          <NA>     None  141-885-8041  Add area code to dict
19          <NA>     None  417-269-4743  Add area code to dict
20            QC       QC          None                     QC
21       Ontario       ON          None                     ON
22            QC       QC          None                     QC
23            CA     None  578-366-8990  Add area code to dict
24            ON       ON          None                     ON
25            ON       ON          None                     ON
26            CA     None  233-301-2758  Add area code to dict
27       Ontario       ON          None                     ON
28       Ontario       ON          None                     ON
29          <NA>     None  858-347-2497  Add area code to dict
30            CA     None  757-181-2313  Add area code to dict
31       Ontario       ON          None                     ON
32            ON       ON  705-185-3744                     ON
33            ON       ON  317-553-0572                     ON
34          <NA>     None          None                   None
35          <NA>     None          None                   None
36            QC       QC          None                     QC
37          <NA>     None  128-314-0737  Add area code to dict
38            NB       NB  587-352-2859                     NB
39            NB       NB  304-777-3551                     NB
40          <NA>     None  519-612-5421                     ON
41          <NA>     None          None                   None
42            CA     None          None                   None
43            CA     None  241-111-0917  Add area code to dict
44          <NA>     None  453-275-7523  Add area code to dict
45          <NA>     None  184-238-7035  Add area code to dict
46          <NA>     None          None                   None
47          <NA>     None  352-821-0565  Add area code to dict
48          <NA>     None  430-514-9128  Add area code to dict
49          <NA>     None          None                   None
50          <NA>     None  177-597-8702  Add area code to dict
51            ON       ON  517-711-0047                     ON
52            ON       ON          None                     ON
53          <NA>     None          None                   None
54          <NA>     None  462-277-7921  Add area code to dict
55          <NA>     None          None                   None
56          <NA>     None  211-142-0623  Add area code to dict
57          <NA>     None  869-439-6770  Add area code to dict
58          <NA>     None  598-765-2194  Add area code to dict
59          <NA>     None  598-765-2195  Add area code to dict
60          <NA>     None  598-765-2196  Add area code to dict
61            QC       QC  328-864-0577                     QC
62            CA     None          None                   None
63       Ontario       ON  914-773-9453                     ON
64          <NA>     None  254-606-4239  Add area code to dict
65          <NA>     None  214-831-4434  Add area code to dict
66          <NA>     None  843-437-4966  Add area code to dict
67            CA     None  784-442-4514  Add area code to dict
68          <NA>     None  473-470-9272  Add area code to dict
69          <NA>     None          None                   None
70       ONTARIO       ON  927-740-5884                     ON
71       ONTARIO       ON  984-330-8275                     ON
72          <NA>     None          None                   None
73            NB       NB  685-491-2138                     NB
74       ONTARIO       ON          None                     ON
75       ONTARIO       ON  576-831-2090                     ON
76       Ontario       ON  731-458-7391                     ON
77          <NA>     None  446-186-2666  Add area code to dict
78            ON       ON  205-418-5010                     ON
79            CA     None          None                   None
80          <NA>     None  797-720-3203  Add area code to dict
81       ONTARIO       ON  962-307-7964                     ON
82       Ontario       ON  537-495-2779                     ON
83          <NA>     None  284-492-1513  Add area code to dict
84            CA     None          None                   None
85            NB       NB          None                     NB
86          <NA>     None  883-136-3158  Add area code to dict
87          <NA>     None  913-865-6015  Add area code to dict
88       Ontario       ON  730-193-6848                     ON
89       Ontario       ON  592-166-9686                     ON
90          <NA>     None          None                   None
91       Ontario       ON  447-883-1477                     ON
92          <NA>     None  815-814-2916  Add area code to dict
93          <NA>     None          None                   None
94       Ontario       ON          None                     ON
95          <NA>     None  167-165-4766  Add area code to dict
96            CA     None  249-932-2233  Add area code to dict
97            NB       NB  430-732-0501                     NB
98          <NA>     None  907-729-2772  Add area code to dict
99          <NA>     None  979-182-6734  Add area code to dict
100      ONTARIO       ON          None                     ON
101         <NA>     None  931-476-6401  Add area code to dict
102         <NA>     None  573-722-4881  Add area code to dict
103           ON       ON  727-120-1288                     ON
104      Ontario       ON          None                     ON
105           NB       NB          None                     NB
106      ONTARIO       ON  662-141-5831                     ON
107      ONTARIO       ON  984-330-8272                     ON
108      ONTARIO       ON  984-330-8273                     ON
109           NB       NB  339-337-8116                     NB
110         <NA>     None  183-240-9264  Add area code to dict
111         <NA>     None          None                   None
112         <NA>     None  448-437-4140  Add area code to dict
113           QC       QC  757-969-2270                     QC
114         <NA>     None  894-894-3130  Add area code to dict
115      Ontario       ON  213-188-5826                     ON
116         <NA>     None          None                   None
117         <NA>     None  114-382-9599  Add area code to dict
118         <NA>     None          None                   None
119           CA     None          None                   None
120         <NA>     None  329-809-8785  Add area code to dict
121           ON       ON  477-689-9333                     ON
122         <NA>     None  968-555-9667  Add area code to dict
123      Ontario       ON  572-135-8520                     ON
124      Ontario       ON          None                     ON
125         <NA>     None  910-464-6563  Add area code to dict
126         <NA>     None  512-344-4421  Add area code to dict
127         <NA>     None  550-579-8109  Add area code to dict
128           ON       ON  517-711-0047                     ON
129           NB       NB  187-856-5474                     NB
130         <NA>     None          None                   None
131         <NA>     None  164-632-6708  Add area code to dict
132      ONTARIO       ON          None                     ON
133         <NA>     None  132-348-2457  Add area code to dict
134           ON       ON  483-697-9383                     ON
135           NB       NB  765-207-5926                     NB
136         <NA>     None  597-179-6334  Add area code to dict
137         <NA>     None          None                   None
138         <NA>     None          None                   None
139         <NA>     None  816-805-6336  Add area code to dict
140         <NA>     None  327-449-1081  Add area code to dict
141         <NA>     None  875-197-9235  Add area code to dict
142         <NA>     None  647-929-9805                     ON
143         <NA>     None          None                   None
144         <NA>     None          None                   None
145      ONTARIO       ON          None                     ON
146         <NA>     None  858-811-4523  Add area code to dict
147           ON       ON  331-201-5698                     ON
148      ONTARIO       ON  808-776-2445                     ON
149         <NA>     None  626-353-6808  Add area code to dict
150           QC       QC          None                     QC
151           NB       NB  865-754-2715                     NB
152           ON       ON  494-313-7445                     ON
153      ONTARIO       ON  899-704-7712                     ON
154         <NA>     None          None                   None
155           ON       ON          None                     ON
156           NB       NB          None                     NB
157      ONTARIO       ON          None                     ON
158           CA     None  624-620-7334  Add area code to dict
159         <NA>     None          None                   None
160         <NA>     None  458-536-4050  Add area code to dict
161         <NA>     None  798-664-9913  Add area code to dict
162         <NA>     None  580-573-0252  Add area code to dict
163           ON       ON  430-927-3971                     ON
164         <NA>     None  635-952-0455  Add area code to dict
165         <NA>     None  355-420-8636  Add area code to dict
166      ONTARIO       ON          None                     ON
167         <NA>     None          None                   None
168           NB       NB  285-623-1828                     NB
169           QC       QC  362-370-4359                     QC
170         <NA>     None  512-310-9943  Add area code to dict
171         <NA>     None  474-513-8318  Add area code to dict
172           QC       QC          None                     QC
173           CA     None          None                   None
174         <NA>     None          None                   None
175           ON       ON          None                     ON
176      Ontario       ON  153-623-1929                     ON
177         <NA>     None  862-934-4556  Add area code to dict
178      Ontario       ON          None                     ON
179         <NA>     None          None                   None
180           NB       NB  378-792-9331                     NB
181         <NA>     None  121-870-1476  Add area code to dict
182           CA     None          None                   None
183         <NA>     None          None                   None
184         <NA>     None          None                   None
185           CA     None  568-725-0522  Add area code to dict
186         <NA>     None  105-698-0091  Add area code to dict
187           QC       QC  939-808-4397                     QC
188         <NA>     None          None                   None
189         <NA>     None  224-243-5099  Add area code to dict
190         <NA>     None  471-738-3995  Add area code to dict
191         <NA>     None  827-981-6010  Add area code to dict
192         <NA>     None          None                   None
193      ONTARIO       ON  646-951-4967                     ON
194      ONTARIO       ON  650-391-2595                     ON
195         <NA>     None  932-903-1383  Add area code to dict
196           NB       NB  858-319-8706                     NB
197         <NA>     None          None                   None
198           QC       QC  823-849-7929                     QC
199           NB       NB  134-956-9256                     NB
200      ONTARIO       ON  984-330-8274                     ON

### standardize_species():

In [14]:
def standardize_species(val):
    val = str(val).strip().lower()
    return 'dog' if val in ['dog', 'd'] else 'cat' if val in ['cat', 'c'] else None

##OUTPUT
convert_columns['pet_species'] = convert_columns['raw_pet_species'].apply(standardize_species)
convert_columns[['raw_pet_species', 'pet_species']]

    raw_pet_species pet_species
0               CAT         cat
1               Dog         dog
2               Dog         dog
3               CAT         cat
4                 D         dog
..              ...         ...
196               d         dog
197            <NA>        None
198              no        None
199             Dog         dog
200             DOG         dog

[201 rows x 2 columns]

In [15]:
convert_columns

,first_name,customer_number,last_name,street_number,street_name,unit,raw_city,postal_code,raw_province,raw_owner_phone,alternate_phone,raw_pet_species,last_renewal_date,pet_name,pet_breed,pet_colour,pet_sex,pet_is_fixed,tag_number,owner_email,license_expiry,sold_by,tag_status,rabies_expiry,pet_status,city,province,owner_phone,inferred_province,pet_species
0,Malik,5105,Gray,153,Brampton Street,2018-01-05 00:00:00,a,B2H 1P2,CA,806-3576,<NA>,CAT,2010-09-26,Cameran,Mix,Tri,D,Y,6348,123-456-7890,2016-02-02,Martin,<NA>,10.13.99,Active,City A,None,None,None,cat
1,Eaton,6111,Bridges,102,Real St,2018-01-05 00:00:00,CITY B,M2Z 7G6,ONTARIO,(609) 113-1053,<NA>,Dog,1996-12-14,Dale,Mix,Purple,F,N,1554,a.ultricies@antelectusconvallis.org,2001-08-06,Cheryl,<NA>,09.28.14,A,City B,ON,609-113-1053,ON,dog
2,Eaton,6111,Bridges,102,Real St,2018-01-06 00:00:00,CITY B,M2Z 7G7,ONTARIO,(609) 113-1054,<NA>,Dog,1996-12-15,Dale,Mix,Purple,M,N,1554,a.ultricies@antelectusconvallis.org,2011-09-16,Raja,<NA>,05.29.98,A,City B,ON,609-113-1054,ON,dog
3,Zelenia,5032,Mooney,26,Brampton Street,<NA>,CITY A,N2J 5K0,<NA>,(422) 222-7087,<NA>,CAT,1987-03-02,Jemima,Terrier,<NA>,Spayed,Neutered,9148,a@orci.edu and a@sheely.net,2009-08-03,Edward,<NA>,02.04.95,A,City A,None,422-222-7087,Add area code to dict,cat
4,Noelani,2777,Hensley,155,Brampton Street,<NA>,city,T8M 9X6,ONTARIO,(629) 506-8699,<NA>,D,2002-11-25,Adrian,Spaniel,Cream,Dog,Y,8928,aliquam.adipiscing.lacus@luctussitamet.edu,2007-04-26,Owen,<NA>,10.04.97,A,Unknown,ON,629-506-8699,ON,dog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Leslie,8741,Ramos,99,Brampton Street,<NA>,city,E0A 9K5,NB,1-858-319-8706,<NA>,d,2003-02-26,Tyler,German Shepherd,Cat,Female,N,5446,vulputate@ipsumPhasellusvitae.co.uk,2005-11-01,Darius,Yes,12.03.00,S,Unknown,NB,858-319-8706,NB,dog
197,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,79506,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,City A,None,None,None,None
198,Alexis,3061,Hudson,30,Fance Place,B,CITY B,B4X 8R1,QC,1-823-849-7929,<NA>,no,1997-07-04,"Winter ""tazer face""",Terrier,Orange,F,Y,4023,<NA>,2013-02-01,Burke,<NA>,07.29.13,Removed,City B,QC,823-849-7929,QC,None
199,Wayne,4403,Martin,190,Real St,<NA>,a,B6J 9M9,NB,(134) 956-9256,(908) 149-9000,Dog,2006-01-28,Virginia,Maltese,<NA>,M,Intact,2104,<NA>,2002-09-22,Kieran,<NA>,06.01.10,Removed,City A,NB,134-956-9256,NB,dog
200,Roth,7302,Cooke,164,Brampton Street,D,a,Y2P 2S2,ONTARIO,(984) 330-8274,1-993-615-9432,DOG,1986-01-31,Garrett,Yorkie,Tan,Mal,Intact,2020,<NA>,2010-11-22,Stella,<NA>,05.29.03,a,City A,ON,984-330-8274,ON,dog

In [ ]:
# def handle_missing_values(df):
#     # df = pd.read_csv(FINAL_CLEANED_PATH)
#     df[df.select_dtypes(include='number').columns] = df.select_dtypes(include='number').fillna(0)
#     df[df.select_dtypes(include='string').columns] = df.select_dtypes(include='string').fillna('Unknown')
#     df[df.select_dtypes(include='datetime').columns] = df.select_dtypes(include='datetime').fillna(pd.Timestamp('1900-01-01'))
#     # df.to_csv(FINAL_CLEANED_PATH, index=False)
#     return df

# replaced_missing_values = handle_missing_values(convert_columns)
# replaced_missing_values

In [16]:
class ColumnValidator:
    def __init__(self, df: pd.DataFrame):
        self.df = df.copy()
        self.df['failed_columns'] = [[] for _ in range(len(df))] 

    def validate(self, column: str, test_func):
        valid_mask = self.df[column].apply(test_func)
        self.df.loc[~valid_mask, 'failed_columns'] = self.df.loc[~valid_mask, 'failed_columns'].apply(
            lambda current: current + [column]
        )

    def get_valid_rows(self):
        return self.df[self.df['failed_columns'].apply(len) == 0].copy()

    def get_invalid_rows(self):
        return self.df[self.df['failed_columns'].apply(len) > 0].copy()

    def get_all_rows(self):
        return self.df.copy()

In [17]:
def is_clean_name(name):
    if pd.isna(name) or str(name).strip() == '':
        return False
    name_str = str(name)
    return all(c not in name_str for c in ['&', '"', "'", '/', ',']) and len(name_str.split()) == 1

def is_clean_street_number(value):
    try:
        return str(value).isdigit() and 1 <= int(value) <= 9999
    except (ValueError, TypeError):
        return False

def is_not_empty(value):
    if isinstance(value, str):
        return value.strip() != ''
    return pd.notnull(value)

def is_dog_or_cat(value):
    return str(value).strip().lower() in ['dog', 'cat']

def is_none(value):
    return str(value).strip().lower() != 'none'

In [19]:
filtered_df = convert_columns[convert_columns['first_name'] == 'Christopher "Chris"']
# filtered_df = convert_columns[convert_columns['street_number'] == 'France']
filtered_df

,first_name,customer_number,last_name,street_number,street_name,unit,raw_city,postal_code,raw_province,raw_owner_phone,alternate_phone,raw_pet_species,last_renewal_date,pet_name,pet_breed,pet_colour,pet_sex,pet_is_fixed,tag_number,owner_email,license_expiry,sold_by,tag_status,rabies_expiry,pet_status,city,province,owner_phone,inferred_province,pet_species
184,"Christopher ""Chris""",3210,Kline,144,Fance Place,<NA>,City A,N7E 0T9,<NA>,416-9120,726-4020,C,1998-05-12,Quin,Terrier,Color,M,N,7070,Ut.tincidunt@loremvitaeodio.co.uk,2008-08-24,Renee,<NA>,06.09.06,Active,City A,None,None,None,cat

In [24]:
validator = ColumnValidator(convert_columns)
validator.validate('first_name', is_clean_name)
validator.validate('last_name', is_clean_name)
validator.validate('street_number', is_clean_street_number)
# validator.validate('inferred_province', is_none)
# validator.validate('pet_species', is_dog_or_cat)

columns_to_check = ['street_number', 'street_name', 'city', 'postal_code', 'owner_email', 'license_expiry']
for col in columns_to_check:
    validator.validate(col, is_not_empty)

# all_records = validator.get_all_rows()
# valid = validator.get_valid_rows()
invalid = validator.get_invalid_rows()

first = 'failed_columns'
rest = [col for col in invalid.columns if col != first]
invalid[[first] + rest]

,failed_columns,first_name,customer_number,last_name,street_number,street_name,unit,raw_city,postal_code,raw_province,raw_owner_phone,alternate_phone,raw_pet_species,last_renewal_date,pet_name,pet_breed,pet_colour,pet_sex,pet_is_fixed,tag_number,owner_email,license_expiry,sold_by,tag_status,rabies_expiry,pet_status,city,province,owner_phone,inferred_province,pet_species
37,[street_name],Eagan,3837,Holloway,33,<NA>,<NA>,CITY A,N2G 2L3,<NA>,(128) 314-0737,(707) 298-9116,DOG,1994-12-11,Nathan,Malamute,Black/tan,F,Neutered,1194,dui@urnaNunc.org,2015-12-04,Christian,<NA>,06.09.18,A,City A,None,128-314-0737,Add area code to dict,dog
64,[street_number],Emerald,4117,Miller,France,Brampton Street,<NA>,city,X0N 9M1,<NA>,(254) 606-4239,1-157-461-0632,D,1994-05-07,Oliver,Tabby,Tri,Neutered,S,7274,eu@Loremipsumdolor.ca,2016-02-03,Bradley,<NA>,07.27.00,A,Unknown,None,254-606-4239,Add area code to dict,dog
94,[first_name],Katell & Tanya,6986,Patton,174,Fance Place,<NA>,cit b,B3S 7H5,Ontario,134-9034,683-6194,C,1986-02-20,Faith,Yorkie,Tan,M,Neuter,9997,ligula.Aenean@nequeNullam.com,2010-01-25,Kane,<NA>,01.23.15,Removed,City B,ON,None,ON,cat
140,[street_name],Camille,7183,Hull,24,<NA>,B,b,T0M 9G4,<NA>,1-327-449-1081,<NA>,c,2012-01-28,Peter,Cat,Tri,F,Spayed,7361,Nullam.vitae.diam@tempus.com,2008-03-02,Herman,<NA>,08.24.98,A,City B,None,327-449-1081,Add area code to dict,cat
184,[first_name],"Christopher ""Chris""",3210,Kline,144,Fance Place,<NA>,City A,N7E 0T9,<NA>,416-9120,726-4020,C,1998-05-12,Quin,Terrier,Color,M,N,7070,Ut.tincidunt@loremvitaeodio.co.uk,2008-08-24,Renee,<NA>,06.09.06,Active,City A,None,None,None,cat
190,[postal_code],Jermaine,6113,Buchanan,179,Real St,C,cite b,<NA>,<NA>,1-471-738-3995,256-4939,d,2008-03-02,Hu,Terrier,Blue,Male,Yes,4281,vestibulum@in.com,2009-09-13,Martena,<NA>,04.26.94,A,City B,None,471-738-3995,Add area code to dict,dog
197,"[first_name, last_name, street_number, street_...",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,79506,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,City A,None,None,None,None
198,[owner_email],Alexis,3061,Hudson,30,Fance Place,B,CITY B,B4X 8R1,QC,1-823-849-7929,<NA>,no,1997-07-04,"Winter ""tazer face""",Terrier,Orange,F,Y,4023,<NA>,2013-02-01,Burke,<NA>,07.29.13,Removed,City B,QC,823-849-7929,QC,None
199,[owner_email],Wayne,4403,Martin,190,Real St,<NA>,a,B6J 9M9,NB,(134) 956-9256,(908) 149-9000,Dog,2006-01-28,Virginia,Maltese,<NA>,M,Intact,2104,<NA>,2002-09-22,Kieran,<NA>,06.01.10,Removed,City A,NB,134-956-9256,NB,dog
200,[owner_email],Roth,7302,Cooke,164,Brampton Street,D,a,Y2P 2S2,ONTARIO,(984) 330-8274,1-993-615-9432,DOG,1986-01-31,Garrett,Yorkie,Tan,Mal,Intact,2020,<NA>,2010-11-22,Stella,<NA>,05.29.03,a,City A,ON,984-330-8274,ON,dog

In [25]:
len(invalid)

10

In [26]:
valid = validator.get_valid_rows()

In [27]:
len(valid)

191

In [29]:
all_records = validator.get_all_rows()
# all_records.to_csv('cleaned_records.csv')

In [30]:
len(all_records)

201

In [31]:
all_records

,first_name,customer_number,last_name,street_number,street_name,unit,raw_city,postal_code,raw_province,raw_owner_phone,alternate_phone,raw_pet_species,last_renewal_date,pet_name,pet_breed,pet_colour,pet_sex,pet_is_fixed,tag_number,owner_email,license_expiry,sold_by,tag_status,rabies_expiry,pet_status,city,province,owner_phone,inferred_province,pet_species,failed_columns
0,Malik,5105,Gray,153,Brampton Street,2018-01-05 00:00:00,a,B2H 1P2,CA,806-3576,<NA>,CAT,2010-09-26,Cameran,Mix,Tri,D,Y,6348,123-456-7890,2016-02-02,Martin,<NA>,10.13.99,Active,City A,None,None,None,cat,[]
1,Eaton,6111,Bridges,102,Real St,2018-01-05 00:00:00,CITY B,M2Z 7G6,ONTARIO,(609) 113-1053,<NA>,Dog,1996-12-14,Dale,Mix,Purple,F,N,1554,a.ultricies@antelectusconvallis.org,2001-08-06,Cheryl,<NA>,09.28.14,A,City B,ON,609-113-1053,ON,dog,[]
2,Eaton,6111,Bridges,102,Real St,2018-01-06 00:00:00,CITY B,M2Z 7G7,ONTARIO,(609) 113-1054,<NA>,Dog,1996-12-15,Dale,Mix,Purple,M,N,1554,a.ultricies@antelectusconvallis.org,2011-09-16,Raja,<NA>,05.29.98,A,City B,ON,609-113-1054,ON,dog,[]
3,Zelenia,5032,Mooney,26,Brampton Street,<NA>,CITY A,N2J 5K0,<NA>,(422) 222-7087,<NA>,CAT,1987-03-02,Jemima,Terrier,<NA>,Spayed,Neutered,9148,a@orci.edu and a@sheely.net,2009-08-03,Edward,<NA>,02.04.95,A,City A,None,422-222-7087,Add area code to dict,cat,[]
4,Noelani,2777,Hensley,155,Brampton Street,<NA>,city,T8M 9X6,ONTARIO,(629) 506-8699,<NA>,D,2002-11-25,Adrian,Spaniel,Cream,Dog,Y,8928,aliquam.adipiscing.lacus@luctussitamet.edu,2007-04-26,Owen,<NA>,10.04.97,A,Unknown,ON,629-506-8699,ON,dog,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Leslie,8741,Ramos,99,Brampton Street,<NA>,city,E0A 9K5,NB,1-858-319-8706,<NA>,d,2003-02-26,Tyler,German Shepherd,Cat,Female,N,5446,vulputate@ipsumPhasellusvitae.co.uk,2005-11-01,Darius,Yes,12.03.00,S,Unknown,NB,858-319-8706,NB,dog,[]
197,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,79506,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,City A,None,None,None,None,"[first_name, last_name, street_number, street_..."
198,Alexis,3061,Hudson,30,Fance Place,B,CITY B,B4X 8R1,QC,1-823-849-7929,<NA>,no,1997-07-04,"Winter ""tazer face""",Terrier,Orange,F,Y,4023,<NA>,2013-02-01,Burke,<NA>,07.29.13,Removed,City B,QC,823-849-7929,QC,None,[owner_email]
199,Wayne,4403,Martin,190,Real St,<NA>,a,B6J 9M9,NB,(134) 956-9256,(908) 149-9000,Dog,2006-01-28,Virginia,Maltese,<NA>,M,Intact,2104,<NA>,2002-09-22,Kieran,<NA>,06.01.10,Removed,City A,NB,134-956-9256,NB,dog,[owner_email]
200,Roth,7302,Cooke,164,Brampton Street,D,a,Y2P 2S2,ONTARIO,(984) 330-8274,1-993-615-9432,DOG,1986-01-31,Garrett,Yorkie,Tan,Mal,Intact,2020,<NA>,2010-11-22,Stella,<NA>,05.29.03,a,City A,ON,984-330-8274,ON,dog,[owner_email]

## Deduplicate

In [ ]:
def deduplicate_cleaned_data(df):
    # df = pd.read_csv('/opt/airflow/data/validated/valid_records.csv')

    df['dedup_key'] = (
        df['first_name'].str.strip().str.lower() + '-' +
        df['last_name'].str.strip().str.lower() + '-' +
        df['owner_email'].str.strip().str.lower() +
        df['last_renewal_date'].astype(str).str.strip()
    )

    df = df.drop_duplicates(subset='dedup_key').drop(columns='dedup_key')
        
    # df.to_csv('/opt/airflow/data/validated/all_final_records.csv', index=False)
    return df
deduped_records = deduplicate_cleaned_data(valid)
deduped_records

[deduplicate_cleaned_data] Row count after deduplication: 191

,first_name,customer_number,last_name,street_number,street_name,unit,raw_city,postal_code,raw_province,raw_owner_phone,alternate_phone,raw_pet_species,last_renewal_date,pet_name,pet_breed,pet_colour,pet_sex,pet_is_fixed,tag_number,owner_email,license_expiry,sold_by,tag_status,rabies_expiry,pet_status,city,province,owner_phone,inferred_province,pet_species,failed_columns
0,Malik,5105,Gray,153,Brampton Street,2018-01-05 00:00:00,a,B2H 1P2,CA,806-3576,<NA>,CAT,2010-09-26,Cameran,Mix,Tri,D,Y,6348,123-456-7890,2016-02-02,Martin,<NA>,10.13.99,Active,City A,None,None,None,cat,[]
1,Eaton,6111,Bridges,102,Real St,2018-01-05 00:00:00,CITY B,M2Z 7G6,ONTARIO,(609) 113-1053,<NA>,Dog,1996-12-14,Dale,Mix,Purple,F,N,1554,a.ultricies@antelectusconvallis.org,2001-08-06,Cheryl,<NA>,09.28.14,A,City B,ON,609-113-1053,ON,dog,[]
2,Eaton,6111,Bridges,102,Real St,2018-01-06 00:00:00,CITY B,M2Z 7G7,ONTARIO,(609) 113-1054,<NA>,Dog,1996-12-15,Dale,Mix,Purple,M,N,1554,a.ultricies@antelectusconvallis.org,2011-09-16,Raja,<NA>,05.29.98,A,City B,ON,609-113-1054,ON,dog,[]
3,Zelenia,5032,Mooney,26,Brampton Street,<NA>,CITY A,N2J 5K0,<NA>,(422) 222-7087,<NA>,CAT,1987-03-02,Jemima,Terrier,<NA>,Spayed,Neutered,9148,a@orci.edu and a@sheely.net,2009-08-03,Edward,<NA>,02.04.95,A,City A,None,422-222-7087,Add area code to dict,cat,[]
4,Noelani,2777,Hensley,155,Brampton Street,<NA>,city,T8M 9X6,ONTARIO,(629) 506-8699,<NA>,D,2002-11-25,Adrian,Spaniel,Cream,Dog,Y,8928,aliquam.adipiscing.lacus@luctussitamet.edu,2007-04-26,Owen,<NA>,10.04.97,A,Unknown,ON,629-506-8699,ON,dog,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Ebony,3175,Good,178,Fance Place,A,a,J6B 9H8,<NA>,518-0357,1-277-206-1745,D,2002-12-29,Diana,Tabby,Orange,Rabies,Neuter,3083,vitae@Lorem.edu,2018-03-05,Paul,Canceled,04.19.08,Active,City A,None,None,None,dog,[]
193,Maxwell,4186,Edwards,52,Real St,C,City a,X9H 6E8,ONTARIO,1-646-951-4967,<NA>,z,2011-01-13,Kennan,POOGLE,No,Neutered,Neutered,8877,vitae@odiosagittissemper.edu,2016-10-06,Kaseem,<NA>,07.24.94,Removed,City A,ON,646-951-4967,ON,None,[]
194,Maggy,8093,Wells,187,Fance Place,<NA>,B,Y8V 6N8,ONTARIO,1-650-391-2595,<NA>,c,1999-10-20,Nigel,Mix,Cream,M,S,2558,vitae@semconsequatnec.org,2010-06-14,Tyrone,<NA>,06.10.17,Removed,City B,ON,650-391-2595,ON,cat,[]
195,Barry,1068,Macias,25,Fance Place,2018-01-02 00:00:00,sity A,Y1V 8G0,<NA>,(932) 903-1383,<NA>,C,1992-08-11,Carly,Aust Shepherd,<NA>,F,Yes,9609,volutpat.nunc.sit@eu.ca,2017-06-08,Shana,<NA>,07.17.06,A,City A,None,932-903-1383,Add area code to dict,cat,[]
196,Leslie,8741,Ramos,99,Brampton Street,<NA>,city,E0A 9K5,NB,1-858-319-8706,<NA>,d,2003-02-26,Tyler,German Shepherd,Cat,Female,N,5446,vulputate@ipsumPhasellusvitae.co.uk,2005-11-01,Darius,Yes,12.03.00,S,Unknown,NB,858-319-8706,NB,dog,[]

## Generate Primary Keys for Pet_Owners and Pets.

In [41]:
import hashlib
def generate_id_from_hash(row, columns):
    """
    Generate a consistent integer ID from a hash of the specified columns.
    """
    concat_str = '|'.join(str(row[col]) for col in columns)
    hash_val = hashlib.sha256(concat_str.encode('utf-8')).hexdigest()
    return int(hash_val[:8], 16) 

def add_surrogate_keys(df):
    # Load the deduplicated data
    # df = pd.read_csv('/opt/airflow/data/validated/all_final_records.csv')
    
    owner_id_cols = ['first_name', 'last_name', 'owner_email', 'last_renewal_date']
    pet_id_cols = owner_id_cols + ['tag_number', 'pet_species', 'pet_colour']

    df['pet_owner_id'] = df.apply(lambda row: generate_id_from_hash(row, owner_id_cols), axis=1)
    df['pet_id'] = df.apply(lambda row: generate_id_from_hash(row, pet_id_cols), axis=1)
    
    species_df = df[['pet_species']].drop_duplicates().rename(columns={'pet_species': 'species_name'})
    breed_df = df[['pet_breed']].drop_duplicates().rename(columns={'pet_breed': 'breed_name'})
    colour_df = df[['pet_colour']].drop_duplicates().rename(columns={'pet_colour': 'colour_name'})
    
    species_df['species_id'] = species_df.index + 1
    breed_df['breed_id'] = breed_df.index + 1
    colour_df['colour_id'] = colour_df.index + 1
    
    df = df.merge(species_df, left_on='pet_species', right_on='species_name', how='left')
    df = df.merge(breed_df, left_on='pet_breed', right_on='breed_name', how='left')
    df = df.merge(colour_df, left_on='pet_colour', right_on='colour_name', how='left')
    
    # Save the final DataFrame with surrogate keys
    # df.to_csv('/opt/airflow/data/validated/final_with_ids.csv', index=False)

    return df, species_df, breed_df, colour_df

data_with_keys, species_df, breed_df, colour_df = add_surrogate_keys(deduped_records)
data_with_keys

data_with_keys[['pet_owner_id', 'first_name', 'last_name', 'owner_email', 'last_renewal_date','pet_id', 'tag_number', 'pet_species', 'pet_colour']]

,pet_owner_id,first_name,last_name,owner_email,last_renewal_date,pet_id,tag_number,pet_species,pet_colour
0,3426130536,Malik,Gray,123-456-7890,2010-09-26,1343020610,6348,cat,Tri
1,1691786251,Eaton,Bridges,a.ultricies@antelectusconvallis.org,1996-12-14,2950447730,1554,dog,Purple
2,462836964,Eaton,Bridges,a.ultricies@antelectusconvallis.org,1996-12-15,801198798,1554,dog,Purple
3,3109149774,Zelenia,Mooney,a@orci.edu and a@sheely.net,1987-03-02,2768252217,9148,cat,<NA>
4,2096158731,Noelani,Hensley,aliquam.adipiscing.lacus@luctussitamet.edu,2002-11-25,1583125218,8928,dog,Cream
...,...,...,...,...,...,...,...,...,...
186,2893609333,Ebony,Good,vitae@Lorem.edu,2002-12-29,172292608,3083,dog,Orange
187,326485607,Maxwell,Edwards,vitae@odiosagittissemper.edu,2011-01-13,1109191188,8877,None,No
188,2641858087,Maggy,Wells,vitae@semconsequatnec.org,1999-10-20,3112439655,2558,cat,Cream
189,1863218598,Barry,Macias,volutpat.nunc.sit@eu.ca,1992-08-11,1924677280,9609,cat,<NA>
190,530532434,Leslie,Ramos,vulputate@ipsumPhasellusvitae.co.uk,2003-02-26,834109271,5446,dog,Cat

## Load

In [42]:
species_df

   species_name  species_id
0           cat           1
1           dog           2
10         None          11

In [43]:
breed_df

         breed_name  breed_id
0               Mix         1
3           Terrier         4
4           Spaniel         5
5             Tabby         6
11         Shih tzu        12
12    Aust Shepherd        13
13              Yes        14
14         Shepherd        15
15           Poodle        16
17          Persian        18
18           Yorkie        19
19          Maltese        20
23  German Shepherd        24
24           Border        25
33              Pom        34
42         Malamute        43
49              Cat        50
90           POOGLE        91

In [44]:
colour_df
# Didnt apply an cleaning logic but would follow above patterns. It's on the backlog.

     colour_name  colour_id
0            Tri          1
1         Purple          2
3           <NA>          4
4          Cream          5
5         Orange          6
7             No          8
8      Black/tan          9
9           Blue         10
15           Tan         16
19           Cat         20
22         White         23
27           Mix         28
28         Black         29
32         Color         33
150  Black/tan""        151

In [45]:
pet_owner_df = data_with_keys[[
    'pet_owner_id',
    'first_name', 'last_name',                # rename these
    'street_number', 'street_name', 'unit',
    'city', 'province', 'postal_code',
    'owner_phone', 'owner_email', 'alternate_phone'
]].drop_duplicates().rename(columns={
    'first_name': 'owner_first_name',
    'last_name': 'owner_last_name',
    'street_number': 'owner_street_number',
    'street_name': 'owner_street_name',
    'unit': 'owner_unit',
    'city': 'owner_city',
    'province': 'owner_province',
    'postal_code': 'owner_postal_code',
    'alternate_phone': 'owner_alternate_phone'
})
pet_owner_df

,pet_owner_id,owner_first_name,owner_last_name,owner_street_number,owner_street_name,owner_unit,owner_city,owner_province,owner_postal_code,owner_phone,owner_email,owner_alternate_phone
0,3426130536,Malik,Gray,153,Brampton Street,2018-01-05 00:00:00,City A,None,B2H 1P2,None,123-456-7890,<NA>
1,1691786251,Eaton,Bridges,102,Real St,2018-01-05 00:00:00,City B,ON,M2Z 7G6,609-113-1053,a.ultricies@antelectusconvallis.org,<NA>
2,462836964,Eaton,Bridges,102,Real St,2018-01-06 00:00:00,City B,ON,M2Z 7G7,609-113-1054,a.ultricies@antelectusconvallis.org,<NA>
3,3109149774,Zelenia,Mooney,26,Brampton Street,<NA>,City A,None,N2J 5K0,422-222-7087,a@orci.edu and a@sheely.net,<NA>
4,2096158731,Noelani,Hensley,155,Brampton Street,<NA>,Unknown,ON,T8M 9X6,629-506-8699,aliquam.adipiscing.lacus@luctussitamet.edu,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
186,2893609333,Ebony,Good,178,Fance Place,A,City A,None,J6B 9H8,None,vitae@Lorem.edu,1-277-206-1745
187,326485607,Maxwell,Edwards,52,Real St,C,City A,ON,X9H 6E8,646-951-4967,vitae@odiosagittissemper.edu,<NA>
188,2641858087,Maggy,Wells,187,Fance Place,<NA>,City B,ON,Y8V 6N8,650-391-2595,vitae@semconsequatnec.org,<NA>
189,1863218598,Barry,Macias,25,Fance Place,2018-01-02 00:00:00,City A,None,Y1V 8G0,932-903-1383,volutpat.nunc.sit@eu.ca,<NA>
190,530532434,Leslie,Ramos,99,Brampton Street,<NA>,Unknown,NB,E0A 9K5,858-319-8706,vulputate@ipsumPhasellusvitae.co.uk,<NA>

In [47]:
pets_df = data_with_keys[[
    'pet_id', 'pet_owner_id', 'pet_name',
    'species_id', 'breed_id', 'colour_id',
    'pet_sex', 'pet_is_fixed', 'pet_status'
]].drop_duplicates().rename(columns={
    'pet_sex': 'sex',
    'pet_is_fixed': 'is_fixed'
})
pets_df

,pet_id,pet_owner_id,pet_name,species_id,breed_id,colour_id,sex,is_fixed,pet_status
0,1343020610,3426130536,Cameran,1,1,1,D,Y,Active
1,2950447730,1691786251,Dale,2,1,2,F,N,A
2,801198798,462836964,Dale,2,1,2,M,N,A
3,2768252217,3109149774,Jemima,1,4,4,Spayed,Neutered,A
4,1583125218,2096158731,Adrian,2,5,5,Dog,Y,A
...,...,...,...,...,...,...,...,...,...
186,172292608,2893609333,Diana,2,6,6,Rabies,Neuter,Active
187,1109191188,326485607,Kennan,11,91,8,Neutered,Neutered,Removed
188,3112439655,2641858087,Nigel,1,1,5,M,S,Removed
189,1924677280,1863218598,Carly,1,13,4,F,Yes,A
190,834109271,530532434,Tyler,2,24,20,Female,N,S

In [48]:
license_df = data_with_keys[[
    'pet_id', 'tag_number', 'last_renewal_date', 'license_expiry', 'tag_status'
]].drop_duplicates().rename(columns={
    'tag_number': 'license_tag_number',
    'last_renewal_date': 'last_date_issued'
})

# Ensure dates are proper datetime, should move this upstream in pipeline.
license_df['last_date_issued'] = pd.to_datetime(license_df['last_date_issued'], errors='coerce')
license_df['license_expiry'] = pd.to_datetime(license_df['license_expiry'], errors='coerce')
license_df

         pet_id  license_tag_number last_date_issued license_expiry tag_status
0    1343020610                6348       2010-09-26     2016-02-02       <NA>
1    2950447730                1554       1996-12-14     2001-08-06       <NA>
2     801198798                1554       1996-12-15     2011-09-16       <NA>
3    2768252217                9148       1987-03-02     2009-08-03       <NA>
4    1583125218                8928       2002-11-25     2007-04-26       <NA>
..          ...                 ...              ...            ...        ...
186   172292608                3083       2002-12-29     2018-03-05   Canceled
187  1109191188                8877       2011-01-13     2016-10-06       <NA>
188  3112439655                2558       1999-10-20     2010-06-14       <NA>
189  1924677280                9609       1992-08-11     2017-06-08       <NA>
190   834109271                5446       2003-02-26     2005-11-01        Yes

[191 rows x 5 columns]

In [ ]:
from sqlalchemy import create_engine, text

engine = create_engine('postgresql+psycopg2://username:password@localhost:5432/pet_database')

# load all the tables. This is done in DAG tasks.